body {
    display: block;
    margin: 0;
}

.container {
    margin: 0 2em;
}

.header {
    padding-bottom: 1em;
}

pre {
    font-family: monospace;
    white-space: pre-wrap;
}

.footer {
    text-align: center;
}

.footer p {
    padding: 1em 0;
    font-size: 1em;
}
